# PostHog Configuration
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token_here
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_POSTHOG_ASSETS_HOST=https://us-assets.i.posthog.com

# DB-related (publisher fallback when DATABASE_URL is not used)
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=5433
DB_NAME=

# Optional to set, default is false
# Set to true to print more debug logs
DEBUG=false

# Notification webhook settings
WEBHOOK_API_KEY=
STUDIO_SSM_WEBHOOK_API_KEY=

S3_STUDIO_ASSETS_BUCKET_NAME=
CLOUDFRONT_ASSETS_DISTRIBUTION_ID=
